
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Cuenta/Index">Volver</a>
<a class="btn btn-primary" id="btnCrear" href="/Ingreso/Crear?idCuenta=@ViewBag.IdCuenta"><span class="glyphicon glyphicon-plus"></span> Crear </a>

 
        <table class="table ">
            <thead>
                <tr>
                    <th>IdIngreso</th>
                    <th>IdCuenta</th>
                    <th>FechaHora</th>
                    <th>Descripcion</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdIngreso</td>
                        <td>@item.IdCuenta</td>
                        <td>@item.FechaHora</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Monto</td>
                    </tr>
                }
            </tbody>
        </table>
